

<div class="page-inicio">
    <div class= "page-inicio__barra">
      <div class="page-inicio__barra__letter">    
          <nav >
            <img src="../favicon.ico" alt="" class="inicio">
            <button class="page-inicio__barra__letter__button">Comics</button>
            <button class="page-inicio__barra__letter__button">Sobre nosotros</button>
            <button class="page-inicio__barra__letter__button">Ayuda</button>
            <div class="usuario" > 
            <button class = "page-inicio__barra__letter__Reg__button" aling="right" (click)="New_Regist()">Registrarse</button>
            <button class = "page-inicio__barra__letter__Reg__button" aling="right" (click)="New_login()">Login</button>
            {{token}}
          </div>
          </nav>
      </div>
    </div>
</div>