
  <div class="page-inicio__content">
    <nav class="nav">
      <button class="page-inicio__nav__button" (click)="Por_Nombre()">Nombre</button>
      <button class="page-inicio__nav__button">Autor</button>
      <button class="page-inicio__nav__button">Fecha</button>
      <button class = "page-inicio__nav__button" aling="right" (click)="New_login()">Registrarse</button>
      <button class="bsq">Q</button>
      <input type="text" class="busqueda">
      <a routerLink="../user/nombre.component.html">perfil</a> 

    </nav>
  </div>
