
  <div class="page-inicio__content">
    <nav class="nav">
      <button class="page-inicio__nav__button" (click)="Por_Nombre()">Nombre</button>
      <button class="page-inicio__nav__button"  (click)="Por_Autor()">Autor</button>
      <button class="page-inicio__nav__button">Fecha</button>
      <button class = "page-inicio__nav__button" aling="right" (click)="New_login()">Registrarse</button>
      <button class="page-inicio__nav__button" ><img src="/src//serch.ico" alt="">Buscar</button>
      
      <input type="text" class="busqueda">
    

    </nav>
  </div>
