<div class="busqueda-content">
<div class="busqueda-content__head">
    <h1>LOGIN</h1>
</div>
<br>
<div class="form">
  <div class="form_user">
  
        <label for="">Usuario</label>
        <input type="text" class="name_user" placeholder="Nombre del Usuario" [(ngModel)]="usuario" >
       
        <br>
        <br>
        <br>

        <label for="" class="pass">Password</label>
        <input type="password" name="" id="" [(ngModel)]="docu">
        <br>
        <br>

<button (click)="buscarusua(usuario,docu)">Ingreso</button>

<button (click)="Navegar_Inicio()">Cancelar</button>

</div>

</div>
<br>



</div>