.busqueda-content{

  .form{
display: flex;
align-items: center;
justify-content: center;

  }
    
    &__head{
        display: flex;
        justify-content: center;
        h1{
            font-size: 40px;
            font-style: italic;
            color: blueviolet;
        }
    }
   
}