
<div class="page-inicio">
 
  <div class= "page-inicio__barra">
    <div class="page-inicio__barra__letter">
        
        <nav >
        <button class="page-inicio__barra__letter__button">Comics</button>
        <button class="page-inicio__barra__letter__button">Sobre nosotros</button>
        <button class="page-inicio__barra__letter__button">Ayuda</button>
        <button class = "page-inicio__barra__letter__Reg__button" aling="right" (click)="New_login()">Registrarse</button>
        <button class = "page-inicio__barra__letter__Reg__button" aling="right" (click)="New_Inicio()">otr</button>
        <button class = "page-inicio__barra__letter__Reg__button" aling="right" (click)="Por_Nombre()">next</button>
       
      </nav>
          
	


        
    </div>
  </div>
  <nav>
    <button class="page-inicio__barra__letter__button">Nombre</button>
    <button class="page-inicio__barra__letter__button">Sobre nosotros</button>
    <button class="page-inicio__barra__letter__button">Ayuda</button>
    <button class = "page-inicio__barra__letter__Reg__button" aling="right" (click)="New_login()">Registrarse</button>
   
  </nav>
  <div class="page-inicio__content">
      <img src="https://i.pinimg.com/originals/5f/b1/f5/5fb1f5d9041edd4916298243c6ba75e9.gif" class="page-inicio__content__imagen">
  </div>
</div>


  <router-outlet></router-outlet>


  



